.header {
   display: flex;
   justify-content: space-between;
   padding: 1.2rem 1rem;
   max-width: 1100px;
   margin: auto;
}

.header nav {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.user {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header nav ul {
   display: flex;
   gap: 1rem;
   flex-wrap: wrap;
   list-style: none;
   align-items: center;
}

.header nav ul a {
   font-weight: bold;
}